<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>CrowMart</title>
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body data-page="home">
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">
      <%- include('partials/header.ejs') %>
      <div class="row">
        <div class="column" style="margin-top: 25%">
          <h4>Welcome to CrowMart!</h4>
          <p>Your one stop shop for Crows and Crow Accessories</p>
        </div>
      </div>
      <div class="row">
        <div class="one one-half column">
          <a class="button button-primary" href="./crows/crows.ejs">Shop Crows</a>
        </div>
        <div class="one one-half column">
          <a class="button button-primary" href="./accessories/accessories.ejs">Shop Accessories</a>
        </div>
      </div>
    </div>

    <!-- End Document
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>