<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Cart</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header.ejs') %>
      <div id="cart-info" class="row" style="margin-top: 5%">
        <h4 id="count">You have 0 items in cart</h4>
        <h4 id="total">Total: $0.00</h4>
      </div>
    </div>
  </body>
</html>