<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Cart</title>
  </head>
  <body data-page="cart">
    <div class="container">
      <%- include('../partials/header.ejs') %>
      <div id="cart-info" class="row" style="margin-top: 5%">
        <h4 id="count">You have <span id="cart-items-count"></span> items in cart</h4>
        <h4 id="total">Total: <span id="cart-total-price"></span></h4>
      </div>
    </div>
  </body>
</html>